---
import Layout from "../../../layouts/Layout.astro";
---

<Layout
  title="Hardware - Assistive Technology - Informatizzando la Disabilità"
  description="Analisi sui principali tipi di hardware relativi all'Assistive echnology in campo informatico."
  keywords="Assistive Technology, AT, accessibilità, tecnologia, hardware, hw"
>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/accessibilita/tecnologie/introduzione"
          >&lt;&lt; 2.2 - Tecnologie</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita/tecnologie/software"
          >2.2.2 - Software &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
  <article>
    <h1>
      <span class="capitolo">Capitolo 2: Accessibilità - Tecnologia</span>2.2.1
      Hardware
    </h1>
    <p>
      Esistono varie tipologie di dispositivi Assistive Technology, chiaramente
      differenziati in base a quale lacuna funzionale vanno a colmare
      nell'interazione di una persona diversamente abile con un computer.
      Chiaramente questi dispositivi possono essere combinati l'uno con l'altro
      per aumentarne le funzionalità oppure nel caso una persona soffrisse di
      più disabilità.
    </p>
    <h2>2.2.1.1 Tastiera</h2>
    <p>
      La tastiera è un dispositivo che permette l'inserimento di dati
      all'interno di un computer mediante la pressione di uno o più tasti.
      Conseguentemente i problemi che si possono incontrare ad interfacciarsi
      con questo tipo di hardware sono legati alla vista e al movimento. Per una
      persona ipovedente può risultare difficile vedere o distinguere i vari
      tasti, mentre per una persona con difficoltà di movimento può risultare
      difficoltoso premere solamente i tasti desiderati. Per risolvere questo
      genere di problemi sono stati creati numerosi dispositivi che si
      prefiggono di risolvere sostituendo o riadattando le normali tastiere.
    </p>
    <h3>Tastiere XXL</h3>
    <p>
      Questo genere di tastiere è adatto a persone che soffrono di disturbi
      visivi. Sostanzialmente si tratta di una normale tastiera con la sola
      differenza che le lettere, stampate sui singoli tasti, ne occupano
      l'intera superficie, migliorandone decisamente il riconoscimento visivo.
    </p>
    <figure>
      <img src="/imgs/tastiera_xxl_cherry.png" alt="tastiera xxl cherry" />
      <figcaption>
        <em>Tastiera Cherry XXL (fig. 1)</em>
      </figcaption>
    </figure>
    <h3>Scudi</h3>
    <p>
      Gli scudi, anche chiamati "copri tastiera", sono dei dispositivi
      rimovibili che consentono, a chi ha problemi di controllo "fine" de
      movimento delle mani, di digitare con maggior cura e conseguentemente con
      un minor numero di errori di battitura. Per far questo l'utente può
      appoggiare l'intera mano sulla superficie dello scudo posizionato sulla
      sommità della tastiera e, infilando le dita in corrispondenza dei tasti
      desiderati, può digitare quello che desidera prevenendo battiture
      involontarie. Solitamente sono di colore scuro, opposto a quello della
      tastiera, in modo da facilitare ulteriormente il riconoscimento dei tasti,
      in quanto li "incornicia".
    </p>
    <figure>
      <img src="/imgs/tastiera_xxl_scudo.png" alt="tastiera xxl con scudo" />
      <figcaption>
        <em>Tastiera Cherry XXL con scudo (fig. 2)</em>
      </figcaption>
    </figure>
    <h3>Tastiere semplificate</h3>
    <p>
      Si tratta di tastiere con tasti di grande dimensione e generalmente
      dispongono di un numero inferiore di tasti, rispetto ai modelli canonici.
      Solitamente sono di un colore vivace per facilitarne la lettura. Possono
      essere alquanto utili a persone affette da ipovisione, oppure anche ad
      anziani che si avvicinano per la prima volta all'uso di un computer. Anche
      i bambini possono trarne giovamento dall'utilizzo, in quanto i tasti sono
      colorati in modo da raggruppare numeri, vocali, consonanti, punteggiatura
      e funzioni. Possono inoltre essere particolarmente adatte anche a persone
      affette da dislessia o più in generale adulti e bambini con lievi
      difficoltà di apprendimento.
    </p>
    <figure>
      <img src="/imgs/tastiera_semplificata.png" alt="tastiera semplificata" />
      <figcaption>
        <em>Tastiera semplificata (Queenkey) (fig. 3)</em>
      </figcaption>
    </figure>
    <h3>Tastiere espanse</h3>
    <p>
      Sono tastiere generalmente di grande dimensione, nella <em>figura 4.b</em>
       si può notare la grandezza della tastiera in rapporto ad un mano, pensate
      per persone con gravi difficoltà motorie e di ipovisione. I tasti sono
      tondi con bordo incurvato, leggermente rientranti sul piano di appoggio.
      Come caratteristiche addizionali hanno la possibilità di controllo del
      puntatore del mouse, di regolazione della sensibilità dei vari tasti e
      della ripetizione ed infine il bloccaggio dei tasti di funzione. La
      funzione di controllo del mouse avviene mediante l'utilizzo di alcuni
      tasti su cui sono indicate anche le funzioni del mouse.
    </p>
    <figure>
      <img src="/imgs/tastiera_espansa.png" alt="tastiera espansa" />
      <figcaption>
        <em>Tastiera espansa (Winking) (fig. 4a)</em>
      </figcaption>
    </figure>
    <figure>
      <img
        src="/imgs/tastiera_espansa_particolare.png"
        alt="tastiera espansa particolare"
      />
      <figcaption>
        <em>Particolare tastiera espansa (Winking) (fig. 4b)</em>
      </figcaption>
    </figure>
    <h3>Tastiere ridotte</h3>
    <p>
      Hanno le stesse funzionalità delle <em>tastiere espanse</em>, l'unica
      differenza sta nelle dimensioni, in questo caso molto ridotte. Nella <em
        >figura 5b</em
      > si può notare sempre la grandezza della tastiera in rapporto ad un mano.
      Sono utili a persone che hanno limitata forza e difficoltà nei movimenti
      ampi. I tasti, collocati molto vicini tra loro, sono a membrana. Anche
      queste possono sostituire le funzioni del mouse.
    </p>
    <figure>
      <img src="/imgs/tastiera_ridotta.png" alt="tastiera ridotta" />
      <figcaption>
        <em>Tastiera ridotta (Winmini) (fig. 5a)</em>
      </figcaption>
    </figure>
    <figure>
      <img
        src="/imgs/tastiera_ridotta_particolare.png"
        alt="tastiera ridotta particolare"
      />
      <figcaption>
        <em>Particolare tastiera ridotta (Winmini) (fig. 5b)</em>
      </figcaption>
    </figure>
    <h3>Tastiere a membrana programmabili</h3>
    <p>
      Integrano le normali periferiche di input aggiungendo nuovi tasti
      liberamente programmabili dall'utente. La programmazione consiste
      nell'assegnazione di funzioni o macro (combinazioni di tasti) anche
      personalizzabili per differenti tipi di programma. Forniscono un accesso
      facilitato al computer sul piano motorio, visivo e cognitivo. Inoltre è
      possibile impostare la sensibilità dei tasti, la ripetizione e altre
      funzioni utili agli utenti disabili e non solo.
    </p>
    <figure>
      <img
        src="/imgs/tastiera_membrana_programmabile.png"
        alt="tastiera membrana programmabile"
      />
      <figcaption>
        <em
          >Tastiera a membrana programmabile, X-keys<sup id="cite_ref_1"
            ><a href="#cite_note_1">[1]</a></sup
          > Desktop 20 tasti (fig. 6a)</em
        >
      </figcaption>
    </figure>
    <figure>
      <img
        src="/imgs/tastiera_membrana_programmabile_particolare.png"
        alt="tastiera membrana programmabile particolare"
      />
      <figcaption>
        <em
          >Tastiera a membrana programmabile, X-keys Stick<sup id="cite_ref_2"
            ><a href="#cite_note_2">[2]</a></sup
          > (fig. 6b)</em
        >
      </figcaption>
    </figure>
    <h3>Tastiere a video</h3>
    <p>
      Si tratta di programmi che consentono l'emulazione via software della
      tastiera hardware. Sono progettati per assistere principalmente persone
      con disabilità motorie. Il funzionamento è molto semplice, viene
      visualizzata a video una tastiera, in alcuni casi è anche personalizzabile
      in base ai vari programmi con la quale viene utilizzata. La selezione dei
      tasti avviene mediante l'utilizzo del mouse, oppure tramite diversi tipi
      di sensori.
    </p>
    <figure>
      <img src="/imgs/tastiera_a_schermo.png" alt="tastiera a schermo" />
      <figcaption>
        <em>Esempio tastiera a schermo (fig. 7)</em>
      </figcaption>
    </figure>
    <h3>Tastiere programmabili</h3>
    <p>
      Sono formate da una base neutra da collegare al computer e da un variabile
      numero di schede che, mediante la base, comunicano i dati in input. Le
      schede generalmente sono suddivise per campi di interesse, ad esempio si
      va dalla scheda contente le classiche lettere dell'alfabeto a quella
      specializzata per i movimenti del mouse (<em>fig. 8b</em>) fino ad
      arrivare a quella specifica per le operazioni aritmetiche (<em>fig. 8c</em
      >).
    </p>
    <p>
      Oltre alle schede base prestampate è possibile crearne di nuove mediante
      appositi programmi software. Questi strumenti sono chiaramente adatti a
      chi soffre di disfunzioni motorie, ma possono essere anche di ausilio a
      normali utenti che cercano di semplificare lo svolgimento di operazioni
      ricorrenti.
    </p>
    <figure>
      <img
        src="/imgs/tastiera_programmabile.png"
        alt="tastiera programmabile"
      />
      <figcaption>
        <em>Tastiera programmabile (Intellikeys) (fig. 8a)</em>
      </figcaption>
    </figure>
    <p>
      Di seguito sono mostrati due esempi di schede prestampate (Intellikeys<sup
        id="cite_ref_3"><a href="#cite_note_3">[3]</a></sup
      >):
    </p>
    <figure>
      <img
        src="/imgs/tastiera_programmabile_mouse.png"
        alt="tastiera programmabile scheda mouse"
      />
      <figcaption>
        <em
          >Tastiera programmabile (Intellikeys), scheda movimenti del mouse
          (fig. 8b)</em
        >
      </figcaption>
    </figure>
    <figure>
      <img
        src="/imgs/tastiera_programmabile_aritmetica.png"
        alt="tastiera programmabile scheda aritmetica"
      />
      <figcaption>
        <em
          >Tastiera programmabile (Intellikeys), scheda operazioni aritmetiche
          (fig. 8c)</em
        >
      </figcaption>
    </figure>
    <h2>2.2.1.2 Mouse</h2>
    <p>
      Il mouse è un dispositivo in grado di inviare un input ad un computer in
      modo tale che ad un suo movimento ne corrisponda uno analogo di un
      indicatore sullo schermo detto puntatore. è inoltre dotato di uno o più
      tasti ai quali possono essere assegnate varie funzioni. Conseguentemente i
      problemi legati a questo genere di dispositivi sono esclusivamente di
      natura motoria. In questo caso l'AT si preoccupa di realizzare dispositivi
      per coloro che non riescono a gestire il cursore, o i tasti funzione,
      tramite un mouse tradizionale. Esistono principalmente due sotto
      categorie, i così detti sistemi di puntamento alternativo oppure gli
      emulatori di mouse per disabilità più gravi.
    </p>
    <p>
      Esistono parecchi dispositivi atti a sostituire la figura del classico
      mouse per interagire con un computer. Di seguito verrano analizzati solo i
      dispositivi principali e non tutte le varie sottoclassi disponibili.
    </p>
    <h3>Trackpad</h3>
    <p>
      Il trackpad, a differenza della trackball, gestisce il movimento del
      cursore mediante il movimento di uno o più dita sulla sua superficie.
    </p>
    <p>
      Comunemente utilizzati sui computer portatile possono essere anche
      installati su computer desktop. Il movimento necessario per lo spostamento
      del cursore può essere limitato al solo lavoro di un dito della mano,
      questa funzione risulta notevolmente di aiuto a chi affetto da problemi di
      origine motoria.
    </p>
    <p>
      Anche i trackpad chiaramente sono muniti di tasti, anche addizionali, e
      personalizzabili.
    </p>
    <figure>
      <img src="/imgs/trackpad.png" alt="trackpad" />
      <figcaption>
        <em>Trackpad (Easycat) (fig. 9)</em>
      </figcaption>
    </figure>
    <h3>Trackball</h3>
    <p>
      Sono dispositivi che consentono di controllare il cursore del mouse
      compiendo minimi movimenti degli arti superiori. La rotazione del
      controller simula il movimento della sfera del mouse. Questo dispositivo è
      particolarmente adatto a chi soffre di problemi motori o impossibilitato a
      fare costanti movimenti di polso. Può essere corredato da tasti opzionali
      personalizzabili che consentono la memorizzazioni di funzioni e/o macro.
    </p>
    <figure>
      <img src="/imgs/trackball.png" alt="trackball" />
      <figcaption>
        <em>Trackball (fig. 10)</em>
      </figcaption>
    </figure>
    <h3>Joystick</h3>
    <p>
      Chiamato anche in alcuni casi mouse ergonomico, sostituisce il movimento
      trascinatorio della mano sul mouse con un semplice movimento basculante di
      una cloche. Il movimento del cursore è chiaramente affidato al movimento
      della leva, mentre le funzioni di click sono sostituite da tasti posti
      sulla cloche (come in <em>figura 11a</em>) oppure sulla base del joystick
      (come in
      <em>figura 11b</em>). Questo tipo di dispostitivi è particolarmente adatto
      per chi soffre della sindrome del tunnel carpale del polso.
    </p>
    <figure>
      <img src="/imgs/joystick_ergonomico.png" alt="joystick ergonomico" />
      <figcaption>
        <em
          >Joystick (Mouse ergonomico ANRI)<sup id="cite_ref_4"
            ><a href="#cite_note_4">[4]</a></sup
          > (fig. 11a)</em
        >
      </figcaption>
    </figure>
    <figure>
      <img src="/imgs/joystick.png" alt="joystick" />
      <figcaption>
        <em>Joystick (Roller Plus Joystick) (fig. 11b)</em>
      </figcaption>
    </figure>
    <h3>Emulatori a soffio</h3>
    <p>
      Sono dispositivi progettati per emulare il movimento del mouse mediante un
      uso combinato di bocca e testa. Serrando il beccuccio fra le labbra è
      possibile muovere il cursore con i soli movimenti della testa. Le funzioni
      di click sinistro e destro, doppio clic, trascinamento vengono esercitate
      soffiando o aspirando aria nel beccuccio, chiaramente solo con un minimo
      sforzo respiratorio. Questi dispositivi, integrati da tastiere a video,
      consentono un totale controllo di un computer anche a persone
      completamente invalide negli arti superiori.
    </p>
    <figure>
      <img src="/imgs/emulatore_soffio.png" alt="emulatore a soffio" />
      <figcaption>
        <em
          >Emulatore a soffio (Integramouse<sup id="cite_ref_5"
            ><a href="#cite_note_5">[5]</a></sup
          >) (fig. 12)</em
        >
      </figcaption>
    </figure>
    <h3>Emulatori head-mouse</h3>
    <p>
      Sono dispositivi ottici che permettono di controllare i movimenti del
      cursore mediante lo spostamento della testa. Funzionano tramite un piccolo
      bersaglio senza fili che, posizionato sulla fronte o sugli occhiali
      dell'utilizzatore, segue e di conseguenza traccia i movimenti. Sostituisce
      il mouse per chi è impossibilitato ad usare le mani. I "click" del mouse
      sono simulati da prestabiliti movimenti persistenti oppure trasmessi
      mediante l'uso congiunto di altri tipi di <em>sensori</em>. Questo
      dispositivo abbinato all'uso di una <em>tastiera virtuale</em> può
      sostituire completamente l'utilizzo dei canonici dispositivi di input."
    </p>
    <figure>
      <img
        src="/imgs/emulatore_headmouse_sensore.png"
        alt="emulatore headmouse con sensore occhiali"
      />
      <figcaption>
        <em
          >Emulatore head-mouse (Tracker Pro) Particolare con sensore per
          occhiali (fig. 13a)</em
        >
      </figcaption>
    </figure>
    <p>
      Un modello piu avanzato di emulatore head-mouse, infatti non richiede
      l'ausilio di sensori:
    </p>
    <figure>
      <img
        src="/imgs/emulatore_headmouse.png"
        alt="emulatore headmouse avanzato"
      />
      <figcaption>
        <em
          >Emulatore head-mouse (Headmouse Extreme<sup id="cite_ref_6"
            ><a href="#cite_note_6">[6]</a></sup
          >) (fig. 13b)</em
        >
      </figcaption>
    </figure>
    <p>
      Esistono versioni più avanzate che funzionano mediante il solo <em
        >movimento della pupilla</em
      >. Conseguentemente l'uso di un sensore è assolutamente obsoleto oltre che
      in alcuni casi invasivo. Con questo genere di dispositivi il "click" del
      mouse può essere attivato mediante il battito delle palpebre.
    </p>
    <h3>Touch-screen</h3>
    <em
      >Sono tipologie di monitor con integrato un sistema che rende l'area del
      video sensibile al tocco, trasformando così il computer in un sistema a
      tocco integrato. Permettono di emulare le funzioni del mouse e gestire i
      programmi attraverso il semplice tocco di un dito o una stilo sullo
      schermo. Questa modalità di puntamento è molto intuitiva e diretta ed è
      adatta per gli utenti che hanno difficoltà ad interfacciarsi con i
      tradizionali sistemi di puntamento. I monitor touch-screen consentono di
      effettuare tutte le operazioni possibili con un mouse tradizionale come il
      doppio click, il click destro e il trascinamento. Possono inoltre essere
      utilizzati come tavoletta grafica oppure anche come tastiera a schermo.
      Inoltre l'innovativa tecnologia detta "multi-touch" che consente, come
      dice la parola stessa, la gestione di più tocchi contemporaneamente, apre
      tutto un nuovo modo di pensare questi touch-screen, aumentando di gran
      lunga le azioni possibili.</em
    >
    <h3>Switch-Mouse</h3>
    <p>
      Sono dispositivi che consentono di collegare tra loro <em>joystick</em> e <em
        >sensori</em
      >, combinando i quali si possono sostituire i normali dispositivi di
      input. Consente di usare diversi sistemi di input alternativo
      contemporaneamente, ad esempio è possibile regolare il movimento del
      cursore mediante l'utilizzo di soli tasti (<em>fig. 14a</em>) oppure con <em
        >joystick</em
      > (come mostrato in <em>fig. 14b</em>).
    </p>
    <figure>
      <img src="/imgs/switch_mouse_sensori.png" alt="switch mouse sensori" />
      <figcaption>
        <em>Switch-Mouse (Mouse Mover) con sensori collegati (fig. 14a)</em>
      </figcaption>
    </figure>
    <figure>
      <img src="/imgs/switch_mouse_joystick.png" alt="switch mouse joystick" />
      <figcaption>
        <em>Switch-Mouse (Mouse Mover) con joystick collegato (fig. 14b)</em>
      </figcaption>
    </figure>
    <h2>2.2.1.3 Sensori</h2>
    <p>
      Sono dispositivi di tipo on/off che consentono di catturare in modo
      efficace e al tempo stesso più semplice possibile i movimenti volontari di
      un disabile motorio, anche grave. Funzionano come interruttori e, se
      configurati adeguatamente, consentono di controllare dispositivi hardware
      e/o software in modo tale da poter essere una valida alternativa ai
      canonici dispositivi di input.
    </p>
    <h3>Sensori a pressione</h3>
    <p>
      Sono i più semplici e comuni, la funzione di input si basa sulla pressione
      appunto della superficie del sensore. Possono essercene di vari tipi in
      base alle esigenze ed ai problemi degli utenti che devono utilizzarli.
      Oltre al modello base (<em>fig. 15a</em>), caratterizzato da una
      superficie piana solitamente attivabile grazie alla pressione della mano,
      si possono trovare <em>sensori da piede</em> (<em>fig. 15b</em>),
      caratterizzati da una notevole robustezza; sensori da viso, al contrario
      di quelli da piede sono caratterizzati da una superficie morbida e un alto
      livello di sensibilità; sensori da mano (<em>fig. 15c</em>), molto piccoli
      e caratterizzati da la presenza di più tasti da selezionare con l'uso
      delle dita.
    </p>
    <p>
      Solitamente questo tipo di sensori ha la possibilità di regolare la forza
      da applicare per l'attivazione. Inoltre, in alcuni modelli, è presente un
      sistema di feedback che può essere sia tattile che sonoro.
    </p>
    <figure>
      <img src="/imgs/sensore_pressione.png" alt="sensore pressione" />
      <figcaption>
        <em>Sensore a pressione generico (Sensore Square Pad) (fig. 15a)</em>
      </figcaption>
    </figure>
    <figure>
      <img src="/imgs/sensore_pedale.png" alt="sensore pedale" />
      <figcaption>
        <em>Sensore a pedale (fig. 15b)</em>
      </figcaption>
    </figure>
    <figure>
      <img src="/imgs/sensore_mano.png" alt="sensore mano" />
      <figcaption>
        <em>Sensore da mano (sensore Penta) (fig. 15a)</em>
      </figcaption>
    </figure>
    <h3>Sensori Leaf (a petalo)</h3>
    <p>
      I sensori a petalo per la loro struttura e per il loro funzionamento sono
      i più adatti per essere utilizzati mediante la testa. Sono particolarmente
      adatti per essere posizionati sia dietro la testa che a lato della
      guancia. Questo tipo di sensori è composto da un asta rigida, solitamente
      di materiale metallico, alla quale estremità è fissato un disco di spugna,
      che ne aumenta la sensibilità. Esercitando una leggera forza il sensore si
      sposta leggermente e di conseguenza ne attiva la funzione. Data la
      notevole sensibilità questi dispositivi sono indicati a persone che
      dispongono di una fine mobilità della testa, anche perché il supporto
      rigido può risultare dannoso per gli utenti con problemi a dosare la
      propria forza.
    </p>
    <figure>
      <img src="/imgs/sensore_petalo.png" alt="sensore petalo" />
      <figcaption>
        <em>Sensore LEAF (a petalo) (fig. 16)</em>
      </figcaption>
    </figure>
    <h3>Sensori muscolari</h3>
    <p>
      Questo tipo di dispositivi è in grado di percepire anche lievi movimenti
      muscolari e di trasformarli in un segnale di output. Il livello di
      precisione è chiaramente personalizzabile, per impedire che movimenti
      involontari siano interpretati come comandi. Sono costituiti da una
      fascia, all'interno della quale è contenuto appunto il sensore, si
      posiziona generalmente sulle braccia, ma può anche funzionare in diverse
      parti del corpo, quali la fronte o le gambe.
    </p>
    <figure>
      <img src="/imgs/sensore_muscolare.png" alt="sensore muscolaro" />
      <figcaption>
        <em>Sensore muscolare (Muscolar Switch) (fig. 17)</em>
      </figcaption>
    </figure>
    <h3>Sensori pneumatici</h3>
    <p>
      Come per gli emulatori di mouse a soffio, questo genere di sensori
      funziona mediante le capacità respiratorie dell'utente. Sono attivabili
      sia soffiando che aspirando.
    </p>
    <h3>Sensore a trazione</h3>
    <p>
      Sensori estremamente sensibili e generalmente di piccole dimensioni. Per
      il loro funzionamento è sufficiente tirare una corda legata alla loro
      estremità, lo scorrere della corda all'interno del sensore ne permette la
      sua attivazione.
    </p>
    <h3>
      2.2.1.4 Display Braille<sup id="cite_ref_7"
        ><a href="#cite_note_7">[7]</a></sup
      >
    </h3>
    <p>
      Sono dispositivi elettromeccanici che permettono di trasformare l'output
      di un computer in testo Braille leggibile da persone non vedenti. Il
      funzionamento è molto semplice, vengono sollevati ed abbassati sequenze di
      punti corrispondenti alle combinazioni puntiformi, in modo da formare i
      caratteri Braille corrispondenti.
    </p>
    <p>
      Solitamente queste barre Braille sono composte da 40 celle, che
      corrispondono al numero di caratteri che generalmente si può trovare su
      ogni pagina dei libri stampati in braille su carta, anche se ne possono
      trovare anche da 80. Ognuna di queste celle è a sua volta formata da 8
      punti, che in questo modo permettono di rappresentare 256 combinazioni,
      corrispondenti alla codifica <em>ASCII</em><sup id="cite_ref_8"
        ><a href="#cite_note_8">[8]</a></sup
      >
       estesa. Solitamente una cella Braille è composta da 6 punti, il passaggio
      a 8 punti non comporta nessuna sostanziale variazione al modo classico di
      rappresentare le lettere, e di conseguenza di leggerle. L'aggiunta di 2
      nuovi punti avviene sotto i 6 punti normali, in modo che non modifica il
      Braille classico, ma permettendo al tempo stesso la codifica di tutti i
      caratteri ASCII. Questa aggiunta è stato fatta con fine di arricchire il
      linguaggio Braille e non modificarlo.
    </p>
    <figure>
      <img src="/imgs/display_braille.png" alt="display braille" />
      <figcaption>
        <em
          >Display Braille a 40 celle, PAC Mate 40 Portable Braille Display
          (fig. 18a)</em
        >
      </figcaption>
    </figure>
    <figure>
      <img
        src="/imgs/display_braille_particolare.png"
        alt="display braille particolare"
      />
      <figcaption>
        <em>Display Braille particolare (fig. 18b)</em>
      </figcaption>
    </figure>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.xkeys.com/xkeys/xkdesk.php"
            >http://www.xkeys.com/xkeys/xkdesk.php</a
          > - pagina di riferimento della tastiera X-keys Desktop.
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a>
          <a href="http://www.xkeys.com/xkeys/xkstick.php"
            >http://www.xkeys.com/xkeys/xkstick.php</a
          > - pagina di riferimento della tastiera X-keys Stick.
        </li>
        <li id="cite_note_3">
          <a href="#cite_ref_3">^</a>
          <a
            href="http://www.ablenetinc.com/Assistive-Technology/IntelliTools/IntelliKeys-USB"
            >http://www.ablenetinc.com/Assistive-Technology/IntelliTools/IntelliKeys-USB</a
          >
           - sito Web del produttore Ablenet inc.
        </li>
        <li id="cite_note_4">
          <a href="#cite_ref_4">^</a>
          <a href="http://www.traxsys.com/">http://www.traxsys.com/</a> - Sito
          Web del produttore Traxsys.
        </li>
        <li id="cite_note_5">
          <a href="#cite_ref_5">^</a>
          <a href="http://www.lifetool.at/startseite.html"
            >http://www.lifetool.at/startseite.html</a
          > - Sito Web del produtttrice Lifetool.
        </li>
        <li id="cite_note_6">
          <a href="#cite_ref_6">^</a>
          <a href="http://www.orin.com/access/headmouse/"
            >http://www.orin.com/access/headmouse/</a
          > - pagina di riferimento della emulatore head-mouse Tracker Pro.
        </li>
        <li id="cite_note_7">
          <a href="#cite_ref_7">^</a> Braille - per un approfondimeno sul
          linguaggio Braille si rimanda all'<a href="/appendice/braille"
            >appendice</a
          > ad esso dedicata.
        </li>
        <li id="cite_note_8">
          <a href="#cite_ref_8">^</a> ASCII - <em
            >American Standard Code for Information Interchange</em
          > (<em>Codice Standard Americano per lo Scambio di Informazioni</em>
           in italiano) è un sistema di codifica dei caratteri comunemente
          utilizzato nei calcolatori.
        </li>
      </ol>
    </section>
  </article>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/accessibilita/tecnologie/introduzione"
          >&lt;&lt; 2.2 - Tecnologie</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita/tecnologie/software"
          >2.2.2 - Software &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
</Layout>
