---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Classificazione - Assistive Technology - Informatizzando la Disabilità"
  description="Classificazione delle tipologie di Assistive Technology, relazionate ai diversi tipi di disabilità (cognitive/motorie/sensoriali)."
  keywords="Assistive Technology, AT, accessibilità, classificazione, disabilità, cognitive, motorie, sensoriali"
  prev={{ href: "/introduzione/storia", title: "1.2 - Storia" }}
  next={{ href: "/accessibilita/definizione", title: "2 - Accessibilità" }}
>
  <article>
    <h1>
      <span class="capitolo">Capitolo 1: Introduzione</span>1.3 Classificazione
    </h1>
    <h2>1.3.1 Panoramica disabilità</h2>
    <p>
      Una volta introdotto il concetto di Assitive Technology è giunto il
      momento di prendere in considerazione su effettivamente quali classi di
      disabilità essa va ad operare. Si possono dividere tre grosse branche di
      invalidità: disabilità cognitiva, motoria e sensoriale. Chiaramente ognuna
      di queste categorie necessita trattamenti adeguati e mirati e, anche
      all'interno di esse, si possono trovare notevoli differenziazioni che ora
      verrano esaminate più da vicino.
    </p>
    <p class="nota">
      Nota: In questo paragrafo non andrò ad analizzare nel dettaglio le varie
      tecnologie a disposizione per ogni genere di disabilità, mi limiterò a
      semplici esempi per facilitare la comprensione dei disturbi presi in
      esame.
    </p>

    <h3>A. Disabilità Cognitive</h3>
    <p>
      <em
        >Questa categoria è contraddistinta da disabilità intellettive. Esse
        possono manifestarsi come semplici difficoltà di apprendimento, come ad
        esempio la dislessia, oppure come più gravi disturbi di ritardo mentale,
        che possono assumere forme più o meno serie. La medicina con il tempo ha
        creato veri e propri percorsi terapeutici per cercare di migliorare, e
        in alcuni casi risolvere, queste tipologie di problemi. L'Assistive
        Technology può venire particolarmente in aiuto per questo genere di
        patologie, le tecnologie utilizzate in questo settore sono quasi
        esclusivamente di livello software. Infatti esistono programmi in grado
        di assistere la persona durante la digitazione di testi a computer,
        questi aiuti possono spaziare dal semplice correttore
        ortografico/grammaticale a più complessi meccanismi di rilettura dei
        testi.</em
      >
    </p>

    <h3>B. Disabilità Motorie</h3>
    <p>
      <em
        >Sotto disabilità motorie sono raggruppati tutti quei disturbi collegati
        al movimento del corpo della persona invalida, essi vanno dai problemi
        di deambulazione a difficoltà più capillari che riguardano i singoli
        arti o parti del corpo. Questo genere di disabilità può essere o
        congenito oppure conseguente a qualche tipo di trauma (es. traumi alla
        spina dorsale, o paralisi causate da ictus). L'Assistive Technology
        fornisce strumenti che consentono l'ausilio nella deambulazione di
        persone inferme, ad esempio carrozzine e scooter elettrici sono alla
        base di questo tipo di dispositivi. Per quanto riguarda difficoltà
        motorie alle mani il discorso si fa più complicato e sfaccettato in
        quanto ci si può trovare di fronte ad una maggior casistica. In linea di
        massima esistono dispositivi, adattabili alle varie esigenze, che
        consentono l'accesso a terminali senza l'uso delle mani, detti
        hands-free, un esempio può essere un mouse comandabile con i piedi
        (footmouse). Esistono inoltre altre tecnologie che consentono l'accesso
        ai computer senza l'uso delle mani. Le due tecnologie più conosciute
        sono chiaramente il riconoscimento vocale (speech-recognition) e il meno
        noto eye-gaze, che consente di interagire con un computer mediante il
        movimento degli occhi.</em
      >
    </p>

    <h3>C. Disabilità Sensoriali</h3>
    <p>
      <em
        >Con disabilità sensoriali si intendono principalmente disturbi legati
        alla vista e all'udito. Quindi fanno parte di questa categoria persone
        con difficoltà visive, fino ad arrivare alla cecità, e con difficoltà ad
        udire, nel caso massimo sordità. L'Assistive Technology si è sviluppata
        molto in questo settore, infatti possiamo trovare vecchie tecnologie
        quali audiolibri o orologi parlanti, oppure strumenti più evoluti quali
        invece software di sintesi vocale, che convertono testi computerizzati
        in voce. Per individui con solamente problemi di vista possono essere
        invece di aiuto grandi display digitali o tastiere con grossi tasti.
        Esistono anche soluzioni software per questo genere di problemi detti
        display magnifer, essi consentono di ingrandire parti di schermo un
        numero esponenziale di volte. Per persone sorde invece l'attenzione si
        sposta sulle notifiche visuali, ad esempio ponendo in determinati punti
        della casa segnali luminosi nel caso qualcuno suonasse il campanello.
        Per quanto riguarda l'interazione informatica solitamente la parte audio
        non è molto importante quando si opera con un computer, infatti
        solitamente un dispositivo produce solamente suoni di feedback, in
        questo caso è relativamente semplice sostituirle con notifiche a video.
        Per le persone non completamente sorde invece possono essere di grande
        aiuto amplificatori portatili. Questo campo è notevolmente in crescita,
        negli ultimi anni sono stati creati amplificatori wireless, questi
        dispositivi possono essere particolarmente utili in teatri oppure in
        ambienti scolastici.</em
      >
    </p>

    <h2>1.3.2 Classificazione Assistive Technology</h2>
    <p>
      Prima di iniziare ad analizzare le singole tecniche e tecnologia in cui si
      snoda l'Assistive Technology è bene cercare di dare una classificazione
      dei vari campi in cui essa si suddivide. Ci sono svariati modi per
      suddividere le varie disabilità e di conseguenza per categorizzare i vari
      tipi di Assistive Technology. La classificazione più valida è quella
      fornita dalla specifica <b>ISO 9999:2007</b><sup id="cite_ref_1"
        ><a href="#cite_note_1">[1]</a></sup
      >
      <em>Classification of Technical Aids</em><sup id="cite_ref_2"
        ><a href="#cite_note_2">[2]</a></sup
      > e viene sviluppata in forma product-oriented.
    </p>

    <p>Vengono delineate dieci tipologie di Assistive Device:</p>
    <ul>
      <li>Ausili per trattamenti sanitari personali</li>
      <li>Ausili per l'esercizio di abilità</li>
      <li>Ortesi e protesi</li>
      <li>Ausili per la cura e la protezione personale</li>
      <li>Ausili per la cura della casa</li>
      <li>Mobilia e adattamenti per la casa o per altri ambienti</li>
      <li><b>Ausilio per comunicazioni, informazione e segnalazione</b></li>
      <li>Ausili per manovrare oggetti o dispositivi</li>
      <li>Adattamenti dell'ambiente, utensili e macchine</li>
      <li>Ausili per le attività di tempo libero</li>
    </ul>
    <p>
      Questa classificazione, seppur perimetrale rispetto all'argomento
      principale di questa tesi, serve a fornire un panorama completo di tutto
      quello che si intende per Tecnologia Assistenziale.
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.iso.org/iso/catalogue_detail.htm?csnumber=38894"
            >http://www.iso.org/iso/catalogue_detail.htm?csnumber=38894</a
          >
           - Pagina ufficiale della specifica ISO.
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a> Una classificazione più approfondita si
          può trovare in appendice.
          <a
            href="https://assistivetechnology.it/appendice/classificazione-dispositivi-assistivi"
            >Appendice B - Classificazione Dispositive Assistivi</a
          >.
        </li>
      </ol>
    </section>
  </article>
</Layout>
