---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Braille - Assistive Technology - Informatizzando la Disabilità"
  description="Il Braille è il codice di lettura e scrittura più utilizzato dai no vedenti."
  keywords="Assistive Technology, AT, accessibilità, braille, non vedenti, alfabeto"
>
  <nav aria-label="Main">
    <ul>
      <li class="index"><a href="/">Indice</a></li>
    </ul>
  </nav>
  <article>
    <h1>
      <span class="capitolo">Appendice A:</span>Braille<sup id="cite_ref_1"
        ><a href="#cite_note_1">[1]</a></sup
      >
    </h1>
    <h2>Definizione</h2>
    <p>
      Il Braille è il codice di lettura e scrittura più utilizzato dai ciechi. è
      stato inventato dal francese Louis Braille nel 1829. Si tratta di un
      sistema di scrittura basato su sei punti in rilievo in cui la maggior
      parte dei simboli è universalmente riconosciuta e quindi può essere usato
      in molte lingue diverse. Il Braille infatti non è una lingua di per sé, ma
      è un mezzo di scrittura internazionale. Con esso si possono rappresentare
      le lettere dell'alfabeto, la punteggiatura, i numeri, i simboli matematici
      e quelli musicali.
    </p>
    <h2>La cella Braille</h2>
    <p>
      I caratteri Braille sono basati su una cella formata da sei punti disposti
      in due colonne e tre righe.
    </p>
    <figure>
      <img src="/imgs/braille-cella.png" alt="esempio cella braille" />
    </figure>
    <p>
      I punti sono numerati dall'1 al 6, secondo lo schema appena illustrato. La
      dimensione di una cella Braille è standard, 7x4 millimetri, ed è una
      dimensione ottimale perché permette di percepire la sua intera superficie
      e allo stesso tempo di distinguere bene i singoli punti. Con i 6 punti si
      possono ottenere 64 combinazioni diverse che però non sono sufficienti a
      rappresentare tutti i caratteri. Ad esempio l'alfabeto del computer (il
      codice ASCII) ha 255 simboli. Per conservare la corrispondenza biunivoca
      tra questi segni ed i segni Braille si è pensato di arricchire il
      casellino o cella Braille, passando da 6 a 8 punti. Infatti, con 8 punti
      si possono rappresentare 255 segni.
    </p>
    <figure>
      <img
        src="/imgs/braille-cella-8.png"
        alt="esempio cella braille a 8 punti"
      />
    </figure>
    <p>
      Nonostante l'introduzione della cella a 8 punti la rappresentazione più
      comune e maggiormente utilizzata rimane quella a 6 punti.
    </p>
    <h2>L'alfabeto</h2>
    <figure>
      <img src="/imgs/braille-alfabeto.png" alt="alfabeto braille" />
    </figure>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a> Fonte: Unione Italiana Ciechi, sezione di
          Frosinone <a href="http://www.uicfrosinone.it/"
            >http://www.uicfrosinone.it/</a
          >.
        </li>
      </ol>
    </section>
  </article>
  <nav aria-label="Main">
    <ul>
      <li class="index"><a href="/">Indice</a></li>
    </ul>
  </nav>
</Layout>
