---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Classificazione Dispositivi Assistivi (Accessive Devices)"
  description="Classificazione Dispositivi Assistivi (Accessive Devices) Specifica ISO 9999:2007 - Classification of Technical Aids."
  keywords="Assistive Technology, AT, accessibilità, Classificazione Dispositivi Assistivi, Accessive Devices, ISO 9999:2007, Classification of Technical Aids"
  prev={{ href: "/appendice/braille", title: "Appendice A - Braille" }}
  next={{
    href: "/appendice/legge-stanca",
    title: "Appendice C - Legge Stanca",
  }}
>
  <article>
    <h1>
      <span class="capitolo">Appendice B:</span>Classificazione Dispositivi
      Assistivi<span>(Classification Accessive Devices)</span>
    </h1>
    <header>
      <p>
        Specifica ISO 9999:2007<sup id="cite_ref_1"
          ><a href="#cite_note_1">[1]</a></sup
        >
        <span>Classification of Technical Aids</span>
      </p>
    </header>
    <p>
      <h2>Ausili per trattamenti sanitari personali</h2>
       Ausili che servono per migliorare, monitorare o mantenere le condizioni
      di salute della persona. Sono esclusi gli strumenti usati esclusivamente
      da operatori sanitari.
    </p>
    <p>
      <h2>Ausili per l'esercizio di abilità</h2>
       Ausili finalizzati a migliorare le abilità fisiche, mentali e sociali
      della persona. Gli ausili che hanno una funzione primaria diversa rispetto
      all'addestramento, ma che possono essere usati anche per tale scopo, sono
      classificati nella classe che meglio caratterizza la loro funzione
      principale.
    </p>
    <p>
      <h2>Ortesi e protesi</h2>
       Le ortesi o dispositivi ortesici sono dispositivi applicati esternamente
      al corpo per modificare le caratteristiche strutturali e funzionali degli
      apparati neuromuscolare e scheletrico. Le protesi o dispositivi protesici
      sono dispositivi applicati esternamente al corpo per sostituire
      completamente o parzialmente una sua parte mancante o danneggiata. Sono
      comprese, ad esempio, le protesi funzionali, le protesi cosmetiche e le
      calzature ortopediche. Sono invece escluse le endoprotesi, che non sono
      contemplate da questo standard internazionale.
    </p>
    <p>
      <h2>Ausili per la cura e la protezione personale</h2>
       Sono compresi, ad esempio, gli ausili per vestirsi e svestirsi, per la
      protezione del corpo, per l'igiene personale, per la cura delle
      tracheostomie, delle stomie e dell'incontinenza, per la misurazione delle
      proprietà fisiche e fisiologiche e per le attività sessuali.
    </p>
    <p>
      <h2>Ausili per la cura della casa</h2>
       compresi, ad esempio, gli ausili per mangiare e bere.
    </p>
    <p>
      <h2>Mobilia e adattamenti per la casa o per altri ambienti</h2>Sono
      compresi, ad esempio, i mobili con o senza ruote per riposare o lavorare,
      gli accessori per mobilia, gli ausili e le attrezzature per l'adattamento
      di ambienti residenziali, professionali e scolastici.
    </p><p>
      <h2>Ausilio per comunicazioni, informazione e segnalazione</h2>
       Ausili che aiutano la persona a ricevere, inviare, produrre o elaborare
      informazioni secondo varie modalità. Sono compresi, ad esempio, i
      dispositivi per vedere, sentire, leggere, scrivere e telefonare, i
      dispositivi di segnalazione e di allarme, gli ausili informatici.
    </p><p>
      <h2>Ausili per manovrare oggetti o dispositivi</h2>
    </p><p>
      <h2>Adattamenti dell'ambiente, utensili e macchine</h2>Dispositivi e
      apparecchiature che servono a migliorare l'ambiente personale nella vita
      quotidiana, utensili manuali e macchinari motorizzati. Sono escluse le
      apparecchiature finalizzate al miglioramento complessivo dell'ambiente.
    </p><p>
      <h2>Ausili per le attività di tempo libero</h2> Dispositivi finalizzati a
      giochi, hobby, sport e altre attività per il tempo libero.
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="https://www.iso.org/standard/38894.html"
            >https://www.iso.org/standard/38894.html</a
          > Specifica ISO 9999:2007 - Assistive products for persons with
          disability Classification and terminology.
        </li>
      </ol>
    </section>
  </article>
</Layout>

<style>
  header {
    font-weight: bold;
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-top: 3rem;
  }
  p span,
  h1 span,
  h2 span {
    display: block;
  }
</style>
