---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Accessibilità Web - Conclusione - Assistive Technology - Informatizzando la Disabilità"
  description="Breve riassunto su cos'è l'accessibilità web e in che modo opera reazionata all'Assistive Technology."
  keywords="Assistive Technology, AT, accessibilità, tecnologia, accessibilità web"
  prev={{
    href: "/accessibilita-web/migliorare-accessibilita",
    title: "3.4 Migliorare ulteriormente l'accessibilità",
  }}
  next={{
    href: "/accessibilita-web/legislazione",
    title: "3.6 - Legislazione Italiana",
  }}
>
  <article>
    <h1>
      <span class="capitolo">Capitolo 3: Accessibilità Web</span>3.5
      Accessibilità Web - Conclusione
    </h1>
    <p>
      Riassumendo, per creare Web accessibile, è sufficiente rispettare delle
      semplici regole, sintetizzabili nei seguenti punti:
    </p>
    <ul>
      <li>
        (X)HTML valido (secondo gli standard del W3C) per il contenuto della
        pagina.
      </li>
      <li>
        CSS valido (secondo gli standard del W3C) per il layout della pagina.
      </li>
      <li>
        Almeno un livello di adempimento WAI-AA (preferibilmente AAA) in accordo
        alla specifica WCAG del WAI.
      </li>
      <li>
        Contenuti alternativi per ogni contenuto multimediale utilizzato
        all'interno del sito (video, flash, audio, etc).
      </li>
      <li>
        Una versione ad alto contrasto del testo del sito per consentire la
        lettura a persone con problemi di vista.
      </li>
      <li>Access keys predisposti per il controllo della pagina.</li>
      <li>Web Markup semantici.</li>
      <li>
        Rispetto di tutte le norme legali vigenti sul territorio per il quale il
        sito Web è destinato.
      </li>
    </ul>
    <p>
      Una buona accessibilità permette una maggior fruibilità dei contenuti e di
      conseguenza maggior capillarità nella diffusione delle informazioni
      presenti nelle proprie pagine Web. L'importanza dell'Accessibilità Web, e
      dell'Assistive Technology in generale, consiste nella sua capacità di
      "abbattere" le barriere informatiche, permettendo un notevole sviluppo sia
      del Web che dell'informatizzazione in generale e, come diretta
      conseguenza, uno sviluppo della società dato dal massimo accesso alle
      informazioni da parte di tutti indistintamente.
    </p>
  </article>
</Layout>
