---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Definizione Accessibilità Web - Assistive Technology - Informatizzando la Disabilità"
  description="Definizione dell'accessibilità web in relazione all'AssistiveTechnology."
  keywords="Assistive Technology, AT, accessibilità, tecnologia, definizione"
  prev={{
    href: "/accessibilita/tecnologie/software",
    title: "2.2.2 - Software",
  }}
  next={{
    href: "/accessibilita-web/w3c",
    title: "3.2 - Il World Wide Web Consortium (W3C)",
  }}
>
  <article>
    <h1>
      <span class="capitolo">Capitolo 3: Accessibilità Web</span>3.1 Definizione
    </h1>
    <p>
      Per definire l'Accessibilità Web mi avvalgo da quanto specificato dal <em
        >World Wide Web Consortium</em
      ><sup id="cite_ref_1"><a href="#cite_note_1">[1]</a></sup>, abbreviato <em
        >W3C</em
      >, una comunità internazionale creata con lo scopo di migliorare ed
      assicurare la costante crescita del Web.
    </p>
    <p>
      <em
        >Per accessibilità web si indica la capacità di un sito web di essere
        acceduto efficacemente (alla sua interfaccia e al suo contenuto) da
        utenti diversi in differenti contesti. Rendere un sito web accessibile
        significa permettere l'accesso all'informazione contenuta nel sito anche
        a persone con disabilità fisiche di diverso tipo e a chi dispone di
        strumenti hardware e software limitati. (W3C)</em
      >
    </p>
    <p>
      Come già accennato in precedenza, si può notare da questa definizione, che
      il campo di interesse questa volta è relegato solamente al Web,
      concentrandosi sull'usabilità e sulla possibilità di reperire informazione
      tramite esso.
    </p>
    <p>A livello internazionale i punti di riferimento sono i seguenti:</p>
    <ul>
      <li><b>World Wide Web Consortium</b> (<b>W3C</b>)</li>
      <li>
        <b>Web Accessibility Iniciative</b> (<b>WAI</b><sup id="cite_ref_2"
          ><a href="#cite_note_2">[2]</a></sup
        >)
        <p>Iniziativa per l'Accessibilità del Web (a cura del W3C)</p>
      </li>
      <li>
        <b>Web Content Accessibility Guidelines</b> (<b>WCAG</b><sup
          id="cite_ref_3"><a href="#cite_note_3">[3]</a></sup
        >)
        <p>
          Linee Guida per l'Accessibilità del Contenuto del Web (a cura della
          WAI)
        </p>
      </li>
    </ul>
    <p>
      Esistono diversi modi per valutare lʻaccessibilità di un sito web. Queste
      valutazioni sono chiaramente solo di livello teorico e seguono un
      procedimento euristico. Solitamente l'analisi del sito viene effettuata in
      base ad elenchi di direttive di accessibilità web. Gli organismi
      competenti non hanno ancora proposto degli standard specifici per quanto
      concerne l'accessibilità delle interfacce web, ma è possibile usare le
      norme ISO per i sistemi e prodotti informatici (<em>ISO 9241</em>).
    </p>
    <p>
      Uno buon modo per effettuare una misurazione dell'accessibilità di un sito
      web consiste nel focalizzare l'analisi dell'usabilita su cinque fattori:
    </p>
    <ul>
      <li>facilità di apprendimento</li>
      <li>memorizzazione</li>
      <li>efficienza d'uso (velocità)</li>
      <li>frequenza degli errori</li>
      <li>soddisfazione soggettiva</li>
    </ul>
    <p>
      Indipendentemente dai vari metodi di classificazione dell'usabilità di un
      sito vi sono dei criteri generali che è opportuno tenere in considerazione
      quando si vuole ottenere un sito accessibile:
    </p>
    <h3>Browser:</h3>
    <p>
      La visualizzazione del sito deve essere indipendente dal browser
      utilizzato. è importante testare le proprie pagine con browser diversi
      come: Mozilla Firefox, Internet Explorer, Safari, Opera, Konqueror, ecc..
      affinché per ogni browser la visualizzazione sia coerente. è da tenere
      presente anche che, con i nuovi sviluppi tecnologici, la navigazione non
      riguarda più solamente i computer ma anche dispositivi portatili, come ad
      esempio gli smarthphone.
    </p>
    <h3>Risoluzione:</h3>
    <p>
      Ogni sito dovrebbe essere realizzato in modo da essere indipendente dalla
      grandezza del monitor a disposizione dell'utente finale, che può spaziare
      da un televisore a ventiquattro pollici ad uno schermo di cinque pollici
      di un telefono cellulare. In questo caso è importante capire quanto sia
      rilevante rendere accessibili le pagine web in questione anche da
      dispositivi portatili.
    </p>
    <h3>Tempi di caricamento:</h3>
    <p>
      Data l'importanza dei tempi di caricamento dei diversi siti internet, un
      utilizzo razionale dell'HTML favorisce la presentazione di siti che
      garantiscono tempi di caricamento ottimali. La presenza di contenuti
      embed, ovvero contenuti multimediali integrati nelle pagine Web, può
      gravare molto sulla velocità di caricamento. Anche la tecnologia con la
      quale si accede al web può influenzare la necessità di avere pagine agili
      da caricare.
    </p>
    <h3>Architettura informativa del sito:</h3>
    <p>
      Ogni sito internet deve essere creato seguendo una logica lineare e ben
      delineata. In nessuna occasione ci si deve trovare difronte a vicoli
      ciechi, ovvero pagine che non portano da nessuna altra parte. Collegandosi
      all'indirizzo principale del sito web si deve accedere sempre direttamente
      all'Home Page e da li si deve essere in grado di raggiungere ogni
      sottosezione principale nella quale è diviso il sito internet. In alcuni
      casi può risultare utile la creazione di una mappa del sito, soprattutto
      per quanto riguarda pagine di enti o che più in generale offrono servizi
      agli utenti.
    </p>
    <h3>Home Page:</h3>
    <p>
      Le pagine web devono essere sempre ben visibili e chiare nei loro
      contenuti fin dal primo sguardo. Sono da evitare i colori particolarmente
      accesi, possono infastidire la lettura, o eccessivamente piccoli, in
      questo caso possono affaticare la vista. Se si tratta di un sito
      istituzionale il nome, unitamente al logo, deve essere sempre posto in
      modo visibile. L'orientamento all'interno del sito deve essere impostata
      in maniera logica già dalla Home Page, una barra o menu di navigazione può
      aiutare in questo scopo.
    </p>
    <p>
      Le immagini utilizzate devono sempre contenere testi alternativi, in caso
      si accedesse con dispositivi di lettura a video o anche per eventuali
      stampe particolare. Si deve sempre cercare di visualizzare tutti i
      contenuti principali nella prima schermata visibile, tentando il meno
      possibile di costringere l'utente ad usare la scroll bar.
    </p>
    <h3>Grafica e leggibilità del sito:</h3>
    <p>
      Il contrasto sfondo/testo deve essere sempre abbastanza nitido da rendere
      visibile e leggibile il testo. I titoli sono generalmente giustificati a
      sinistra e comunque resi distinguibili dal resto del testo. Per fornire un
      livello di accessibilità maggiore è consigliabile l'aggiunta di una Access
      Bar che consenta di modificare dinamicamente la grandezza, il formato ed
      il colore del testo unitamente al colore dello sfondo.
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.w3.org/">http://www.w3.org/</a> - pagina ufficiale
          del World Wide Web Consortium (W3C).
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a>
          <a href="http://www.w3.org/WAI/">http://www.w3.org/WAI/</a> - testo
          completo della specifica WAI.
        </li>
        <li id="cite_note_3">
          <a href="#cite_ref_3">^</a>
          <a href="http://www.w3.org/TR/WCAG/">http://www.w3.org/TR/WCAG/</a> -
          testo completo della specifica WCAG.
        </li>
      </ol>
    </section>
  </article>
</Layout>
