---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="W3C - Assistive Technology - Informatizzando la Disabilità"
  description="Cos'è e come opera il W3C, il World Wide Web Consortium."
  keywords="Assistive Technology, AT, accessibilità, tecnologia, w3c, world wide web consortium"
  prev={{ href: "/accessibilita-web/definizione", title: "3.1 - Definizione" }}
  next={{
    href: "/accessibilita-web/wai",
    title: "3.3 - Web Accessibility Initiative (WAI)",
  }}
>
  <article>
    <h1>
      <span class="capitolo">Capitolo 3: Accessibilità Web</span>3.2 Il World
      Wide Web Consortium (W3C)
    </h1>
    <p>
      "<em>To lead the Web to its full potential</em> / <em
        >Portare il Web al suo massimo potenziale</em
      >" (Motto del W3C)
    </p>
    <p>
      Il W3C è stato creato nell'Ottobre del 1994 con lo scopo di portare il Web
      al suo massimo potenziale, mediante lo sviluppo di protocolli comuni che
      promuovano la sua evoluzione ed assicurino la sua interoperabiltà. In
      altre parole ha il compito di sviluppare standard per assicurare la
      costante crescita del Web. Oggi il W3C conta oltre 450 Membri ed uno staff
      di circa 70 persone provenienti da tutto il mondo.
    </p>
    <p>
      Per capire meglio come opera questa organizzazione è opportuno prendere in
      esami i sette punti sopra cui si basa il suo lavoro:
    </p>
    <h3>1. Accesso Universale</h3>
    <p>
      <em
        >Il W3C definisce il Web come l'universo delle informazioni accessibili
        in rete (disponibili attraverso il computer, il telefono, la
        televisione, o il frigorifero telematico...). Oggigiorno questo universo
        permette alla società di fruire di nuove forme di comunicazione umana e
        offre nuove opportunità di condividere la conoscenza. Uno degli scopi
        principali del W3C è quello di rendere queste opportunità fruibili a
        tutti, indipendentemente da eventuali limitazioni determinate da
        hardware, software, supporto di rete a disposizione, lingua madre,
        cultura, collocazione geografica, capacità fisiche e mentali. L'impegno
        del Consorzio per l'accesso universale è dimostrato da varie attività:
        Internationalization Activity, Device Independence Activity, Voice
        Browser Activity, e Web Accessibility Initiative.</em
      >
    </p>
    <h3>2. Web Semantico</h3>
    <p>
      <em
        >La gente oggi condivide la conoscenza sul Web utilizzando un linguaggio
        umano, comprensibile dalle altre persone. Sul Semantic Web<sup
          id="cite_ref_1"><a href="#cite_note_1">[1]</a></sup
        > ("semantico" significa "che ha a che fare con il significato"), le
        persone saranno capaci di esprimersi in termini tali che i nostri
        computer potranno interpretare e scambiare informazioni. In questo modo
        si darà la possibilità ai computer di risolvere i problemi che troviamo
        noiosi da affrontare, e di aiutarci a trovare velocemente quello che
        stiamo cercando: informazioni mediche, una recensione di un film,
        l'ordine di un libro attraverso un catalogo, etc. Il linguaggi del W3C
        RDF<sup id="cite_ref_2"><a href="#cite_note_2">[2]</a></sup>, XML<sup
          id="cite_ref_3"><a href="#cite_note_3">[3]</a></sup
        >, XML Schema, e XML signatures sono gli elementi di base su cui poggia
        il Web Semantico.</em
      >
    </p>
    <h3>3. Fiducia</h3>
    <p>
      <em
        >Il Web è un mezzo di collaborazione, non un supporto di sola lettura
        come una rivista. Di fatto il primo browser Web era anche un editor,
        sebbene molti oggi pensino al browsing essenzialmente in termini di
        visualizzazione dell'informazione, senza interazione. Per promuovere un
        ambiente più collaborativo il Consorzio sta progettando un "Web of
        Trust" capace di offrire riservatezza, che ispiri gradualmente fiducia,
        e che faccia in modo che ci si prenda la responsabilità di ciò che viene
        pubblicato su Web. Questi principi motivano molto del lavoro del W3C su
        XML signature, meccanismi di annotazione, composizione di gruppo (group
        authoring), gestione delle versioni, etc.</em
      >
    </p>
    <h3>4. Interoperabilità</h3>
    <p>
      <em
        >Venti anni fa si comperavano software che funzionavano solamente con
        altri software dello stesso produttore. Oggi si ha molta più libertà di
        scelta e giustamente ci si aspetta che i componenti software possano
        essere interscambiabili. Ci si aspetta anche di essere in grado di
        vedere il contenuto del Web con l'ausilio del software che si preferisce
        (browser grafico, sintetizzatore vocale, display braille, telefono a
        bordo dell'auto...). Il W3C è un'organizzazione neutrale, che incoraggia
        l'interoperabilità attraverso la progettazione e la promozione di
        linguaggi informatici e protocolli aperti (non proprietari) che evitino
        la frammentazione del mercato caratteristica del passato. Tutto questo è
        realizzato ottenendo il consenso dell'industria e incoraggiando un forum
        aperto per la discussione.</em
      >
    </p>
    <h3>5. Capacità evolutiva</h3>
    <p>
      <em
        >Il W3C mira all'eccellenza tecnica ma è consapevole che quello che oggi
        conosciamo e di cui abbiamo bisogno potrebbe essere insufficiente per
        risolvere i problemi di domani. Il Consorzio si adopera perciò per
        costruire un Web che possa facilmente evolvere in un Web ancora
        migliore, senza per questo dover distruggere quello che già funziona. I
        principi di semplicità, modularità, compatibilità ed estensibilità
        guidano tutti i progetti del Consorzio.</em
      >
    </p>
    <h3>6. Decentralizzazione</h3>
    <p>
      <em
        >La decentralizzazione è un principio fondamentale dei moderni sistemi
        distribuiti, comprese le società umane. In un sistema centralizzato ogni
        messaggio o azione deve passare attraverso un'autorità centrale,
        causando ingorghi quando il traffico aumenta. Il progetto del Consorzio
        è quello di limitare il numero delle risorse Web centralizzate, al fine
        di ridurre la vulnerabilità del Web nel suo complesso. La flessibilità è
        l'indispensabile compagna dei sistemi distribuiti, è la vita e l'anima
        di Internet, non solo del Web.</em
      >
    </p>
    <h3>7. Multimedia più eccitante!</h3>
    <p>
      <em
        >A chi non piacerebbe maggiore interattività e supporti multimediali più
        ricchi sulla rete, come immagini ridimensionabili, qualità del suono,
        video, effetti 3D ed animazioni? Il processo di consenso del W3C non
        limita la creatività dei content provider e non comporta rendere noiosa
        la navigazione. Grazie ai suoi membri il W3C dà ascolto ai consumatori
        finali e opera per fornire una solida infrastruttura di sviluppo per un
        Cooler Web grazie a linguaggi come SVG<sup id="cite_ref_4"
          ><a href="#cite_note_4">[4]</a></sup
        > e SMIL<sup id="cite_ref_5"><a href="#cite_note_5">[5]</a></sup>
         (Synchronized Multimedia Integration Language).</em
      >
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.w3.org/2001/sw/">http://www.w3.org/2001/sw/</a> -
          W3C Semantic Web Activity.
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a>
          <a href="http://www.w3.org/RDF/">http://www.w3.org/RDF/</a> - Resource
          Description Framework (RDF).
        </li>
        <li id="cite_note_3">
          <a href="#cite_ref_3">^</a>
          <a href="http://www.w3.org/XML/">http://www.w3.org/XML/</a> -
          Extensible Markup Language (XML).
        </li>
        <li id="cite_note_4">
          <a href="#cite_ref_4">^</a>
          <a href="http://www.w3.org/Graphics/SVG/"
            >http://www.w3.org/Graphics/SVG/</a
          > - Scalable Vector Graphics (SVG).
        </li>
        <li id="cite_note_5">
          <a href="#cite_ref_5">^</a>
          <a href="http://www.w3.org/AudioVideo/"
            >http://www.w3.org/AudioVideo/</a
          > - Synchronized Multimedia Integration Language (SMIL).
        </li>
      </ol>
    </section>
  </article>
</Layout>
