---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="WAI - documentazini aggiuntive - Assistive Technology - Informatizzando la Disabilità"
  description="Ulteriori specifiche relative al WAI del W3C."
  keywords="Assistive Technology, AT, accessibilità, tecnologia, hardware, wai"
>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/accessibilita-web/wcag"
          >&lt;&lt; 3.3.2 Web Content Accessibility Guidelines (WCAG)</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita-web/migliorare-accessibilita"
          >3.4 Migliorare ulteriormente l'accessibilità &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
  <article>
    <h1>
      <span class="capitolo">Capitolo 3: Accessibilità Web</span>3.3.3 Ulteriori
      documentazione rilasciate dal WAI
    </h1>
    <h3>
      Authoring Tools Accessibility Guidelines<sup id="cite_ref_1"
        ><a href="#cite_note_1">[1]</a></sup
      > (ATAG)
    </h3>
    <p>
      La specifica ATAG (<em
        >Linea guida per l'Accessibilità degli Strumenti per Autori - di
        contenuti Web si intende</em
      >) fornisce la linee guida per gli sviluppatori di strumenti per la
      creazione di contenuti Web.
    </p>
    <p>
      Il suo scopo è assistere gli sviluppatori nella progettazione di strumenti
      di sviluppo, come ad esempio Web editors, in grado di generare contenuti
      accessibili per il Web ed in secondo luogo indirizzarli nella creazione di
      interfacce sempre più accessibili agli utenti.
    </p>
    <p>
      Gli strumenti di "authoring" hanno come fine principale quello di
      consentire agli sviluppatori di creare contenuti Web accessibili. Essi
      forniscono ausili quali sistemi di test e correzione (un esempio possono
      essere i validatori), prompts, avvertimenti, aiuti in linea e automatismi.
    </p>
    <p>
      Se da una parte è importante che tutti possano accedere ai contenuti Web è
      altresì importante che tutti possano essere in grado di generarli. Di
      conseguenza lo strumento che si utilizza per creare tali contenuti deve
      essere ugualmente accessibile.
    </p>
    <h3>
      User Agent Accessibility Guidelines<sup id="cite_ref_2"
        ><a href="#cite_note_2">[2]</a></sup
      > (UAAG)
    </h3>
    <p>
      La specifica UAAG (<em
        >Linea guida per l'Accessibilità degli User Agent</em
      >) contiene una linea guida per lo sviluppo degli user agents al fine di
      diminuire le barriere per l'accessibilità del web per persone con
      qualsiasi tipo di disabilità.
    </p>
    <p>
      Con <em>User Agent</em> si intende qualsiasi strumento che rende possibile
      all'utente l'accesso a contenuti Web. Di conseguenza con user agent si
      intendono tutti quei software quale Web browsers, media players, plug-in
      ed altri programmi che possono aiutare l'utente ad accedere e rendere
      fruibili i contenuti presenti sul Web.
    </p>
    <h3>
      XML Accessibility Guidelines<sup id="cite_ref_3"
        ><a href="#cite_note_3">[3]</a></sup
      > (XAG)
    </h3>
    <p>
      La specifica XAG (<em>Linea guida per l'Accessibilità del XML</em>) spiega
      come includere "features" in documenti XML promuovendone la loro
      accessibilità, chiaramente rispettando le norme della specifica XML.
    </p>
    <p>
      Lo sviluppo di questa guida è stato fermato nel 2002, al momento è
      disponibile solo in versione non definitiva.
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.w3.org/TR/ATAG20/">http://www.w3.org/TR/ATAG20/</a
          > - testo completo della specifica ATAG.
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a>
          <a href="http://www.w3.org/TR/UAAG20/">http://www.w3.org/TR/UAAG20/</a
          > - testo completo della specifica UAAG.
        </li>
        <li id="cite_note_3">
          <a href="#cite_ref_3">^</a>
          <a href="http://www.w3.org/TR/xag">http://www.w3.org/TR/xag</a>
           - testo completo della specifica XAG.
        </li>
      </ol>
    </section>
  </article>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/accessibilita-web/wcag"
          >&lt;&lt; 3.3.2 Web Content Accessibility Guidelines (WCAG)</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita-web/migliorare-accessibilita"
          >3.4 Migliorare ulteriormente l'accessibilità &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
</Layout>
