---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Definizione Accessibilità - Assistive Technology - Informatizzando la Disabilità"
  description=" Analisi dell'accessibilità informatia in correlazione con l'Assistive Technology."
  keywords="Assistive Technology, AT, accessibilità"
>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/introduzione/classificazione"
          >&lt;&lt; 1.3 - Classificazione</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita/tecnologie/introduzione"
          >2.2 - Tecnologie &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
  <article>
    <h1>
      <span class="capitolo">Capitolo 2: Accessibilità</span>2.1 Definizione
    </h1>
    <p>
      <em
        >«accessibilità»: la capacità dei sistemi informatici, nelle forme e nei
        limiti consentiti dalle conoscenze tecnologiche, di erogare servizi e
        fornire informazioni fruibili, senza discriminazioni, anche da parte di
        coloro che a causa di disabilità necessitano di tecnologie assistive o
        configurazioni particolari. (D.M. 8 Luglio 2005<sup id="cite_ref_1"
          ><a href="#cite_note_1">[1]</a></sup
        >)</em
      >
    </p>
    <p>
      <em
        >«tecnologie assistive»: gli strumenti e le soluzioni tecniche, hardware
        e software, che permettono alla persona disabile, superando o riducendo
        le condizioni di svantaggio, di accedere alle informazioni e ai servizi
        erogati dai sistemi informatici. (D.M. 8 Luglio 2005)</em
      >
    </p>
    <p>
      La legge Italiana, mediante la Legge Stanca<sup id="cite_ref_2"
        ><a href="#cite_note_2">[2]</a></sup
      > del 9 gennaio 2004, successivamente pubblicata nella <em
        >Gazzetta Ufficiale</em
      > il 17 gennaio 2004 e resa operativa col
      <em>Decreto Ministeriale</em> dell'8 Luglio 2005, da una definizione sia
      di accessibilità, sia di tecnologie assistive (traduzione italiana di
      Assistive Technology). C'è da sottolineare che questa definizione di
      Assistive Technology è riduttiva in quanto viene solamente preso in
      considerazione il ramo informatico di questa tecnologia.
    </p>
    <p>
      Sostanzialmente l'accessibilità, intesa come capacità di un sistema, di un
      dispositivo o di una risorsa di essere utilizzabile dal maggior numero
      possibile di persone, è un campo della più ben vasta categoria della
      Assistive Technology. Come si può notare la definizione di accessibilità
      si rispecchia fedelmente in quella data nel capitolo scorso di Assistive
      Technology, ma la caratterizza adattandola al campo più specifico
      dell'informatica. A sua volta l'accessibilità può essere ulteriormente
      specificata, è il caso dell'<em>accessibilità Web</em>.
    </p>
    <p>
      L'accessibilità Web è un particolare campo dell'accessibilità informatica,
      che si occupa solo ed esclusivamente di prendere in esame la fruibilità
      delle informazioni e la facilità di utilizzo di un sito web. Comunque
      questo argomento verrà trattato in maggior dettaglio in seguito.
    </p>
    <section class="referenze">
      <h4>Referenze</h4>
      <ol>
        <li id="cite_note_1">
          <a href="#cite_ref_1">^</a>
          <a href="http://www.pubbliaccesso.gov.it/normative/dm080705.htm"
            >http://www.pubbliaccesso.gov.it/normative/dm080705.htm</a
          >
           - Testo integrale del Decreto Ministeriale.
        </li>
        <li id="cite_note_2">
          <a href="#cite_ref_2">^</a>
          <a href="http://www.parlamento.it/parlam/leggi/04004l.htm"
            >http://www.parlamento.it/parlam/leggi/04004l.htm</a
          >
           - Testo integrale della Legge Stanca.
        </li>
      </ol>
    </section>
  </article>
  <nav aria-label="Main">
    <ul>
      <li class="prev">
        <a href="/introduzione/classificazione"
          >&lt;&lt; 1.3 - Classificazione</a
        >
      </li>
      <li class="index"><a href="/">Indice</a></li>
      <li class="next">
        <a href="/accessibilita/tecnologie/introduzione"
          >2.2 - Tecnologie &gt;&gt;</a
        >
      </li>
    </ul>
  </nav>
</Layout>
