*[accesskey]:after {content:' [' attr(accesskey) ']'}
body {
	font-family: tahoma, arial, sans-serif;
}
header, table {
	text-align: center;
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid #000;
}
h1 {
	font-size: 200%;
	margin-left: -1em;
	margin-bottom: 1.4em;
	page-break-before: left;
}
h1 .capitolo {
	display: block;
	font-size: 50%;
	font-weight: normal;
}
article{
	color: #222;
	line-height: 150%;
	max-width: 850px;
	padding: 3em 5em;
}
nav {
	color: #AAA;
	padding-left: 3em;
}
nav ul {
	list-style-type: none;
}
nav li {
	float: left;
}
.referenze {
	font-size: 80%;
	line-height: 100%;
	margin-top: 3em;
}
.referenze li {
	line-height: 2;
}
.referenze li a:first-child {
	font-weight: bold;
	text-decoration: none;
}
footer {
	color: #AAA;
	font-size: 80%;
	line-height: 150%;
	margin-top: 2em;
	padding: 3em 6em;
}

:target {
	background-color: #DEF;
}
